@media screen and (max-width: 800px) {
    body{
        align-items: flex-start;
    }

    nav{
        padding-inline: 1rem;
    }

   .nav-links{
    display: none;
   } 

   .menu{
    display: flex;
   }

   .main-container{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   }

.top-blogs{
display: flex;
flex-direction: column;
}

.blog-info{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.blog-read{
    gap: 2rem;
    width: 100%;
}

.blog-title, .blog-content{
    width: 100%;
}

}